<footer class="blockquote-footer text-right">{{quote.author}}</footer>
<div class="container">
  <div class="row">
    <div ng-app="" class="col">
      <small ><button (click)='quoteAdd(true)'><i class="fa fa-thumbs-up"></i></button></small>
      <p>Likes: {{quote.like}} </p>
    </div>

    <div class="col">
      <small><button type="button" name="button"><i class="fa fa-thumbs-down"></i></button></small>
      <p>Dislikes: </p>
    </div>
  </div>
  <button  (click)='quoteDelete(true)' class="btn btn-danger text-center btn-sm">Delete Quote</button>
</div>
