.card{
  max-width: 60%;
  margin-left: 20%;
  background-color: #D9F0FF;
}
h2{
  margin-top: 30px;
}
ul{
  list-style: none;
}
p{
  font-size: 18px;
}
.butCenter button{
  margin-left: 46%;
  margin-top: 20px;
}
.container a{
  color: white;
  font-size : 24px;
  text-align: center;
  margin-left: 46%;
}
