<nav class="navbar navbar-dark bg-info">
  <div class="container">
    <a href="#">Quotes</a>
  </div>
</nav>
<div class="butCenter">
    <button (click)="showUserForm = !showUserForm" type="button" name="button" class="btn btn-info">Add Quote</button>
    <div *ngIf='showUserForm' class="card card-body">
      <app-quote-form (addQuote)="addNewQuote($event)"></app-quote-form>
    </div>
</div>
<div class="container-fliud">
  <h2 class="text-center">QuotesBoard</h2>
  <div class="card card-body" *ngFor='let quote of quotes'>
    <blockquote class="blockquote">
      <ul>
        <li appHighlight>{{quote.quoteWords}}</li>
        <app-quote-details [quote]="quote" (isAdd)="quoteAdd($event,i)" (isComplete)="deleteQuote($event,i)"></app-quote-details>
      </ul>
    </blockquote>
    <p class= "text-center">Submitted by {{quote.name}} {{quote.completeDate|timeCount}} days ago</p>
  </div>
</div>
